@importtheme "_base";

CustomIDAMemo
{
    qproperty-line-fg-default: #aaaaaa;
    qproperty-line-fg-regular-comment: #d269df;
    qproperty-line-fg-repeatable-comment: #b15cb1;
    qproperty-line-fg-automatic-comment: #f4eede;
    qproperty-line-fg-insn: #ffffff;
    qproperty-line-fg-dummy-data-name: #cfcfa4;
    qproperty-line-fg-regular-data-name: #ebebb9;
    qproperty-line-fg-demangled-name: #df0a1c;
    qproperty-line-fg-punctuation: #c0c0c0;
    qproperty-line-fg-charlit-in-insn: #69d200;
    qproperty-line-fg-strlit-in-insn: #00ff00;
    qproperty-line-fg-numlit-in-insn: #d25032;
    qproperty-line-fg-void-opnd: #ff4646;
    qproperty-line-fg-code-xref: #1aa2cb;
    qproperty-line-fg-data-xref: #2dad24;
    qproperty-line-fg-code-xref-to-tail: #d25032;
    qproperty-line-fg-data-xref-to-tail: #2dad24;
    qproperty-line-fg-error: #ff3437;
    qproperty-line-fg-line-prefix: #c0c0c0;
    qproperty-line-fg-opcode-byte: #cacaca;
    qproperty-line-fg-extra-line: #ffc5f3;
    qproperty-line-fg-alt-opnd: #ffaaff;
    qproperty-line-fg-hidden: #ffd500;
    qproperty-line-fg-libfunc: #00c8c8;
    qproperty-line-fg-locvar: #ff8000;
    qproperty-line-fg-dummy-code-name: #ffd500;
    qproperty-line-fg-asm-directive: #f1c900;
    qproperty-line-fg-macro: #df077e;
    qproperty-line-fg-strlit-in-data: #ffbb0e;
    qproperty-line-fg-charlit-in-data: #ffbb0e;
    qproperty-line-fg-numlit-in-data: #e25535;
    qproperty-line-fg-keyword: #f3f3f3;
    qproperty-line-fg-register-name: #3ba7b9;
    qproperty-line-fg-import-name: #ff5afd;
    qproperty-line-fg-segment-name: #ffff7f;
    qproperty-line-fg-dummy-unknown-name: #aaff00;
    qproperty-line-fg-code-name: #f1c900;
    qproperty-line-fg-unknown-name: #ffaaff;
    qproperty-line-fg-collapsed-line: #ffff00;
    qproperty-line-pfx-libfunc: #00ffff;
    qproperty-line-pfx-func: #009fe3;
    qproperty-line-pfx-insn: #2558bf;
    qproperty-line-pfx-data: #1dc017;
    qproperty-line-pfx-unexplored: #a3071f;
    qproperty-line-pfx-extern: #ff55ff;
    qproperty-line-pfx-current-item: #a3071f;
    qproperty-line-pfx-current-line: #ff55ff;
    qproperty-line-bg-dbg-ip: #481e68;
    qproperty-line-bg-dbg-ip-bpt-enabled: #91134a;
    qproperty-line-bg-dbg-ip-bpt-disabled: #481e68;
    qproperty-line-bg-dbg: #080808;
    qproperty-line-bg-dbg-bpt-enabled: #4f0000;
    qproperty-line-bg-dbg-bpt-disabled: #006200;
    qproperty-line-bg-dbg-ip-bpt-unavailable: #481e68;
    qproperty-line-bg-dbg-bpt-unavailable: #ff8000;
    qproperty-graph-bg-top: #dddddd;
    qproperty-graph-bg-bottom: #aaaaaa;
    qproperty-graph-node-title-normal: #f5f5f5;
    qproperty-graph-node-title-selected: #2901b9;
    qproperty-graph-node-title-current: #2901b9;
    qproperty-graph-node-frame-group: #ffff00;
    qproperty-graph-node-shadow: #242424;
    qproperty-graph-node-high1: #063526;
    qproperty-graph-node-high2: #400129;
    qproperty-graph-node-foreign: #ff0000;
    qproperty-graph-edge-normal: #0043cb;
    qproperty-graph-edge-yes: #009100;
    qproperty-graph-edge-no: #bc0000;
    qproperty-graph-edge-high: #ffcc00;
    qproperty-graph-edge-current: #5202f0;
    qproperty-line-fg-patched-bytes: #cb6265;
    qproperty-line-fg-unsaved-changes: #ff8000;
    qproperty-line-bg-highlight: #6655a6;
    qproperty-line-bg-hint: #080808;

    qproperty-line-fg-default: #BDBFBF;
    qproperty-line-bg-default: #040404;
    qproperty-line-pfx-current-item: #FD9824;
    qproperty-line-pfx-current-line: #FD9824;
    qproperty-line-bg-bpt-enabled: #B70806;
    qproperty-line-bg-bpt-disabled: #1DE106;

}
MainMsgList
{
    color: #000000;
    background-color: #f3efff;
}
TCpuRegs
{
    qproperty-register-defined: #ffffff;
    qproperty-register-changed: #00bbff;
    qproperty-register-edited: #b8077a;
}
TextArrows
{
    qproperty-jump-in-function: #00b1ab;
    qproperty-jump-external-to-function: #0473ea;
    qproperty-jump-under-cursor: #ffaa00;
    qproperty-jump-target: #008000;
    qproperty-register-target: #4040ff;
}
navband_t
{
    qproperty-lib-function: #00aaff;
    qproperty-function: #1567ff;
    qproperty-code: #0c2c83;
    qproperty-data: #23c13e;
    qproperty-undefined: #565656;
    qproperty-extern: #c816c8;
    qproperty-error: #ca0000;
    qproperty-gap: #1a1a1a;
    qproperty-cursor: #80ff00;
    qproperty-auto-analysis-cursor: #ff8000;
}

CustomIDAMemo[debugging="true"]
{
    qproperty-line-fg-default: #BDBFBF;
    qproperty-line-bg-default: #040404;
    qproperty-line-pfx-current-item: #FD9824;
    qproperty-line-pfx-current-line: #FD9824;
    qproperty-line-bg-bpt-enabled: #B70806;
    qproperty-line-bg-bpt-disabled: #1DE106;
}

CustomIDAMemo[hints="true"]
{
    qproperty-line-fg-default: #D9DEDE;
    qproperty-line-bg-default: #414243;
    qproperty-line-pfx-current-item: #FD9824;
    qproperty-line-pfx-current-line: #FD9824;
    qproperty-line-bg-bpt-enabled: #B70806;
    qproperty-line-bg-bpt-disabled: #1DE106;
}
